@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin footer-margin-padding{
    padding-bottom: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin page-header{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin section-header{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
} 

@mixin footer-copy{
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}