@use 'variables' as *;


@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"),
        url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
        
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"),
        url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("ttf");
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"),
        url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
}



