$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


$primary-color-bandSite-black:#323232;
$primary-color-silver:#AFAFAF;
$primary-color-white: #FFFFFF;
$secondary-color-bandSite-darkBlack:#000000;
$secondary-color-mercury:#E1E1E1;
$secondary-color-alabaster:#FAFAFA;

//fix these two below
$icon-width:120px;//max
$icon-heigth:20px;//max