@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 58vw;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 2.25rem 3rem 2.25rem;
    height: 52vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 0 2.25rem 3rem 6rem;
    height: 46vw;
  }
}
.hero__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin-left: 2.25rem;
  }
}

.musicians {
  background-color: #FFFFFF;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .musicians {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians {
    padding: 3rem 6rem 2.25rem 6rem;
  }
}
.musicians__heading {
  padding-bottom: 1rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .musicians__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
    margin-left: 2.25rem;
  }
}
.musicians__div-desktop-tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .musicians__div-desktop-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__div-desktop-tablet {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}
.musicians__image {
  width: 100%;
  height: 48vw;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .musicians__image {
    height: 41vw;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__image {
    height: 36vw;
    padding-bottom: 2.25rem;
  }
}
.musicians__quote {
  font-size: 0.8438rem;
  line-height: 1.375rem;
  font-weight: 700;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media screen and (min-width: 768px) {
  .musicians__quote {
    font-size: 1.409rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-right: 8.5rem;
  }
}
.musicians__source {
  font-size: 0.8438rem;
  line-height: 1.375rem;
  font-weight: 700;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .musicians__source {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__source {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-bottom: 3rem;
  }
}
.musicians__subheading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media screen and (min-width: 768px) {
  .musicians__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 1.25rem;
  }
}
.musicians__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .musicians__body {
    flex-direction: row;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__body {
    flex-direction: row;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    justify-content: space-between;
  }
}
.musicians__copy {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .musicians__copy {
    width: 46%;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__copy {
    width: 47.5%;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 3rem auto;
  }
}
.gallery__heading {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
    margin-left: 5.75rem;
  }
}
.gallery__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .gallery__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
}
.gallery__item {
  width: 100%;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 31%;
    margin-top: 0;
  }
  .gallery__item--type1 {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .gallery__item--type2 {
    margin-bottom: 1.5rem;
  }
  .gallery__item--type3 {
    margin: 0 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: 27%;
    margin-top: 0;
  }
  .gallery__item--type1 {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .gallery__item--type2 {
    margin-bottom: 1.5rem;
  }
  .gallery__item--type3 {
    margin: 0 1.5rem;
  }
}

.comments {
  background-color: #FFFFFF;
  margin: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .comments {
    margin: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    margin: 3rem 6rem 2.25rem 6rem;
  }
}
.comments__heading {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .comments__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-left: 2rem;
  }
}
.comments__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments__form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: solid 0.0625rem #E1E1E1;
  padding-bottom: 1rem;
  margin-right: 1rem;
  width: 100%;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .comments__form {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    width: 50%;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .comments__form {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    width: 50%;
    justify-content: center;
  }
}
.comments__container {
  display: flex;
  flex-direction: column;
}
.comments__profile-image {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .comments__profile-image {
    height: 48px;
    width: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__profile-image {
    height: 48px;
    width: 48px;
  }
}
.comments__button {
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  font-size: inherit;
  padding: 0.5rem;
  background-color: #323232;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comments__button {
    min-width: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__button {
    min-width: 150px;
  }
}
.comments__div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .comments__div {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .comments__div {
    width: 50%;
  }
}
.comments__label-name {
  display: flex;
  flex-direction: column;
  color: #AFAFAF;
  width: 100%;
}
.comments__input-name {
  color: #323232;
  border: solid 1px #E1E1E1;
  height: 36px;
  border-radius: 4px;
  padding: 0.75rem;
  margin: 0.25rem;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .comments__input-name {
    height: 48px;
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__input-name {
    height: 48px;
    padding: 1rem;
  }
}
.comments__input-name::-moz-placeholder {
  color: #323232;
  vertical-align: text-top;
}
.comments__input-name::placeholder {
  color: #323232;
  vertical-align: text-top;
}
.comments__label-comment {
  display: flex;
  flex-direction: column;
  color: #AFAFAF;
  margin-top: 1rem;
  width: 100%;
}
.comments__input-comment {
  color: #323232;
  border: solid 1px #E1E1E1;
  border-radius: 4px;
  padding: 0.75rem;
  margin: 0.25rem;
  background-color: #FAFAFA;
  vertical-align: text-top;
  height: 6.75rem;
}
@media screen and (min-width: 768px) {
  .comments__input-comment {
    height: 9rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__input-comment {
    height: 9rem;
    padding: 1rem;
  }
}
.comments__input-comment::-moz-placeholder {
  color: #323232;
}
.comments__input-comment::placeholder {
  color: #323232;
}
.comments__card {
  display: flex;
  flex-direction: row;
  color: #323232;
  border-bottom: 0.0625rem solid #E1E1E1;
}
.comments__avatar {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 1rem 1rem 0 1rem;
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comments__avatar {
    height: 48px;
    width: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__avatar {
    height: 48px;
    width: 48px;
  }
}
.comments__header-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.comments__name {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .comments__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .comments__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
.comments__timestamp {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .comments__timestamp {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .comments__timestamp {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.comments__body-div {
  display: flex;
  flex-direction: column;
}
.comments__note {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .comments__note {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .comments__note {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}/*# sourceMappingURL=bio.css.map */