@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography';


html,
body {
    margin: 0;
    padding: 0;
    font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.link {
    text-decoration: none;
}

.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw rgb(50, 50, 50, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58vw;
    padding: 0 1rem;


    @include tablet {
        padding: 0 2.25rem 3rem 2.25rem;
        height: 52vw;
    }

    @include desktop {
        padding: 0 2.25rem 3rem 6rem;
        height: 46vw;
    }

    &__heading {
        @include font-page-header;
        color: $primary-color-white;

        @include tablet {
            @include font-page-header-dt;
        }

        @include desktop {
            @include font-page-header-dt;
            margin-left: 2.25rem;
        }
    }
}

.musicians {
    background-color: $primary-color-white;
    color: $primary-color-bandSite-black;
    padding: 1.5rem 1rem 1rem 1rem;

    @include tablet {
        padding: 3rem 2.25rem 2.25rem 2.25rem;
    }

    @include desktop {
        padding: 3rem 6rem 2.25rem 6rem;
    }

    &__heading {
        padding-bottom: 1rem;
        @include margin-block;
        @include font-page-header;

        @include tablet {
            @include font-section-header-dt;
            padding-bottom: 2.25rem;
        }

        @include desktop {
            @include font-section-header-dt;
            padding-bottom: 2.25rem;
            margin-left: 2.25rem;
        }
    }

    &__div-desktop-tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }

        @include desktop {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__image {
        width: 100%;
        height: 48vw;
        padding-bottom: 1rem;

        @include tablet {
            height: 41vw;
            padding-bottom: 2.25rem;
        }

        @include desktop {
            height: 36vw;
            padding-bottom: 2.25rem;
        }
    }

    &__quote {
        @include font-quote;
        @include margin-block;

        @include tablet {
            @include font-quote-dt;
            padding-bottom: 1rem;
        }

        @include desktop {
            @include font-subheader-dt;
            padding-bottom: 1rem;
            padding-right: 8.5rem;
        }
    }


    &__source {
        @include font-quote;
        @include margin-block;
        padding-bottom: 1.5rem;

        @include tablet {
            @include font-source-dt;
            padding-bottom: 3rem;
        }

        @include desktop {
            @include font-source-dt;
            padding-bottom: 3rem;
        }
    }

    &__subheading {
        @include font-subheader;
        @include margin-block;

        @include tablet {
            @include font-subheader-dt;
            padding-bottom: 1.25rem;
        }

        @include desktop {
            @include font-subheader-dt;
            padding-bottom: 1.25rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        @include font-body-copy;

        @include tablet {
            flex-direction: row;
            @include font-body-copy-dt;
            justify-content: space-between;
        }

        @include desktop {
            flex-direction: row;
            @include font-body-copy-dt;
            justify-content: space-between;
        }
    }

    &__copy {
        @include margin-block;
        padding-top: 1rem;

        @include tablet {
            width: 46%;
        }

        @include desktop {
            width: 47.5%;
        }
    }
}

.gallery {
    background-color: $secondary-color-alabaster;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary-color-bandSite-black;

    @include tablet {
        padding: 3rem 2.25rem 2.25rem 2.25rem;
    }

    @include desktop {
        padding: 3rem auto;
    }

    &__heading {
        @include margin-block;
        @include font-section-header;

        @include tablet {
            @include font-section-header-dt;
            padding-bottom: 1.25rem;
        }

        @include desktop {
            @include font-section-header-dt;
            padding-bottom: 2.25rem;
            margin-left: 5.75rem;
        }
    }

    &__items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
        }
    }

    &__item {
        width: 100%;
        margin-top: 1rem;

        @include tablet {
            width: 31%;
            margin-top: 0;

            &--type1 {
                margin-right: 1.5rem;
                margin-bottom: 1.5rem;
            }

            &--type2 {
                margin-bottom: 1.5rem;

            }

            &--type3 {
                margin: 0 1.5rem;

            }
        }

        @include desktop {
            width: 27%;
            margin-top: 0;

            &--type1 {
                margin-right: 1.5rem;
                margin-bottom: 1.5rem;
            }

            &--type2 {
                margin-bottom: 1.5rem;

            }

            &--type3 {
                margin: 0 1.5rem;
            }
        }
    }

}


.comments {
    background-color: $primary-color-white;
    margin: 1.5rem 1rem 1rem 1rem;

    @include tablet {
        margin: 3rem 2.25rem 2.25rem 2.25rem;
    }

    @include desktop {
        margin: 3rem 6rem 2.25rem 6rem;
    }

    &__heading {
        @include margin-block;
        @include font-section-header;


        @include tablet {
            @include font-section-header-dt;
            padding-bottom: 1.25rem;
        }

        @include desktop {
            @include font-section-header-dt;
            margin-left: 2rem;
        }

    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: solid .0625rem $secondary-color-mercury;
        padding-bottom: 1rem;
        width: 100%;
        @include font-button-label;

        @include tablet {
            @include font-button-label-dt;
            width: 85%;
            justify-content: center;
        }

        @include desktop {
            @include font-button-label-dt;
            width: 47.5%;
            justify-content: center;
        }


    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;


    }

    &__profile-image {
        border-radius: 50%;
        max-height: 2.25rem;
        height: 2.25rem;
        max-width: 2.25rem;
        width: 2.25rem;
        object-fit: cover;
        margin: 1.5rem 1rem 0 1rem;
   

        @include tablet {
            max-height: 3rem;
            height: 3rem;
            max-width: 3rem;
            width: 3rem;
            margin-top: 1.75rem;
        }

        @include desktop {
            max-height: 3rem;
            height: 3rem;
            max-width: 3rem;
            width: 3rem;
            margin-top: 1.75rem;
        }

    }

    &__button {
        margin-top: 1rem;
        border: none;
        border-radius: .25rem;
        font-size: inherit;
        padding: 0.5rem;
        background-color: $primary-color-bandSite-black;
        color: $primary-color-white;
        height: 2.5rem;
        width: 100%;
        @include font-button-shows-label;
        font-weight: 400;

        @include tablet {
            min-width: 9.375rem;
            width: 33%;
            align-self: flex-end;
            @include font-button-label-shows-dt;
            font-weight: 400;
        }

        @include desktop {
            min-width: 9.375rem;
            width: 30%;
            align-self: flex-end;
            @include font-button-label-shows-dt;
            font-weight: 400;
            margin-top: 1.5rem;
            margin-bottom: .5rem;
        }

    }

    &__div {
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 85%;
        }

        @include desktop {
            width: 47.5%;
        }

    }

    &__label-name {
        display: flex;
        flex-direction: column;
        color: $primary-color-silver;
        width: 100%;

    }

    &__input-name {
        color: $primary-color-bandSite-black;
        border: solid .0625rem $secondary-color-mercury;
        height: 1.5rem;
        min-height: 1.5rem;
        border-radius: .25rem;
        padding: 0.25rem .75rem;
        margin: .25rem;
        background-color: $secondary-color-alabaster;

        @include tablet {
            height: 1.5rem;
            min-height: 1.5rem;
            padding: 1rem;
        }

        @include desktop {
            height: 1.5rem;
            min-height: 1.5rem;
            padding: 1rem;
        }

        &::placeholder {
            color: $primary-color-bandSite-black;
            text-align: left;
            vertical-align: top;
            line-height: 1;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;

        }

    }

    &__label-comment {
        display: flex;
        flex-direction: column;
        color: $primary-color-silver;
        margin-top: 1rem;
        width: 100%;
    }

    &__input-comment {
        @include form-fields;
        height: 4.5rem;

        @include tablet {
            height: 4.5rem;
            padding: 1rem;
        }

        @include desktop {
            height: 4.5rem;
            padding: 1rem;
        }

        &::placeholder {
            color: $primary-color-bandSite-black;
            text-align: left;
            vertical-align: top;
            line-height: 1;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
        }

    }


    &__card {
        display: flex;
        flex-direction: row;
        color: $primary-color-bandSite-black;
        border-bottom: .0625rem solid $secondary-color-mercury;
    }

    &__avatar {
        border-radius: 50%;
        max-height: 2.25rem;
        height: 2.25rem;
        max-width: 2.25rem;
        width: 2.25rem;
        margin: 1rem 1rem 0 1rem;
        background-color: $secondary-color-mercury;
        flex-shrink: 0;

        @include tablet {
            max-height: 3rem;
            max-width: 3rem;
            height: 3rem;
            width: 3rem;

        }

        @include desktop {
            height: 3rem;
            width: 3rem;
            max-height: 3rem;
            max-width: 3rem;
        }

    }

    &__header-div {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

    }

    &__name {
        @include font-body-copy-demi;

        @include tablet {
            @include font-body-copy-demi-dt;
        }

        @include desktop {
            @include font-body-copy-demi-dt;
        }

    }

    &__timestamp {
        @include font-body-copy;
        color: $primary-color-silver;

        @include tablet {
            @include font-body-copy-dt;
        }

        @include desktop {
            @include font-body-copy-dt;
        }

    }

    &__body-div {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    &__note {
        @include font-body-copy;

        @include tablet {
            @include font-body-copy-dt;
        }

        @include desktop {
            @include font-body-copy-dt;
        }

    }

}

.comments__container input.comments__input-name:focus,
.comments__container input.comments__input-comment:focus {
    border: solid .0625rem $primary-color-bandSite-black;
    background-color: $primary-color-white;
}