@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
.subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.body-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: blue;
}

.footer-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: 700;
}

.section-header {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}

.subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.body-copy {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.footer-copy {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.main-nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav__logo {
  max-height: 20px;
  max-width: 120px;
  padding: 1rem 0;
}
.main-nav__link-logo {
  text-decoration: none;
  margin-bottom: -0.25rem;
}
.main-nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.main-nav__item {
  color: #E1E1E1;
  font-weight: 400;
  text-align: center;
  width: 50%;
  padding-bottom: 1rem;
}
.main-nav__item--active {
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: solid #FFFFFF 0.0625rem;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 12vh;
}
.hero__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}

.musicians {
  background-color: #FFFFFF;
  padding: 1.5rem 1rem;
}
.musicians__heading {
  font-size: 24px;
  padding: 16px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.musicians__image {
  width: 100%;
  padding: 1rem 0;
}
.musicians__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem;
}
.gallery__heading {
  padding: 16px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.gallery__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 320px) {
  .gallery__items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
}
@media screen and (min-width: 1920px) {
  .gallery__items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
}
.gallery__item {
  width: 100%;
  padding: 16px 0;
}
@media screen and (min-width: 320px) {
  .gallery__item {
    width: 40%;
  }
}
@media screen and (min-width: 1920px) {
  .gallery__item {
    width: 30%;
  }
}

.footer {
  background-color: #323232;
  width: 100%;
  color: #FFFFFF;
  padding: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 0;
  padding-top: 0;
}
.footer__nav {
  display: flex;
  justify-content: flex-start;
}
.footer__link-icon {
  text-decoration: none;
  color: #E1E1E1;
}
.footer__icon {
  width: 1.5625rem;
  height: 1.5625rem;
  padding-right: 1.5rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0;
}
.footer__contact {
  margin-bottom: 1.5rem;
}
.footer__contact-name {
  white-space: pre-line;
  padding-bottom: 1.5rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__contact-job {
  white-space: pre-line;
  padding-bottom: 1.5rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__address {
  white-space: pre-line;
  padding-bottom: 1.5rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__link-mail {
  text-decoration: none;
  color: #E1E1E1;
  padding-bottom: 1.5rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__link-logo {
  text-decoration: none;
}
.footer__logo {
  max-height: 20px;
  max-width: 120px;
  padding: 1rem 0 1.5rem 0;
}
.footer__copyright {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}/*# sourceMappingURL=bio.css.map */