@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  color: #E1E1E1;
}

.main-nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav {
    flex-direction: row;
    align-items: flex-end;
    padding-left: 8rem;
  }
}
.main-nav__logo {
  display: flex;
  max-width: 100%;
  width: 100%;
  padding: 1rem 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .main-nav__logo {
    padding: 1.75rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav__logo {
    padding: 1.75rem 0;
  }
}
.main-nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    justify-content: flex-start;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav__list {
    justify-content: flex-start;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.main-nav__item {
  color: #E1E1E1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .main-nav__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: auto;
    margin: 0 1.25rem 0 3rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: auto;
    margin: 0 0 0 2.25rem;
    padding-bottom: 1.5rem;
  }
}
.main-nav__item--active {
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: solid #FFFFFF 0.0625rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 3rem 8rem 2.25rem 8rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__div-desktop-mobile {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .footer__div-desktop-mobile {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 0;
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-right: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-right: 2rem;
  }
}
.footer__nav {
  display: flex;
  justify-content: flex-start;
}
.footer__icon {
  width: 50%;
  height: 60%;
  padding-right: 1.5rem;
}
.footer__logo-top {
  max-width: 100%;
  width: 100%;
  padding: 1rem 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo-top {
    padding: 0;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-top {
    display: block;
  }
}
.footer__logo-bottom {
  max-width: 17vh;
  width: 17vh;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo-bottom {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-bottom {
    display: none;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    flex-direction: row;
    margin: 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    flex-direction: row;
    margin: 1.5rem 0;
  }
}
.footer__contact {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    padding: 0 2.4rem 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    padding: 0rem 3rem 0 0;
  }
}
.footer__contact-name {
  white-space: pre-line;
  padding-bottom: 1.25rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__contact-job {
  white-space: pre-line;
  padding-bottom: 1.25rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__address {
  white-space: pre-line;
  padding-bottom: 1.25rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__email {
  text-decoration: none;
  color: #E1E1E1;
  padding-bottom: 1.25rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footer__copyright {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.8125rem;
  }
}/*# sourceMappingURL=global.css.map */