@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography';


html,
body {
    margin: 0;
    padding: 0;
    font-family: "Avenir", Arial, Helvetica, sans-serif;

}

.hero {
    background-image: url(../assets/images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw rgb(50, 50, 50, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 79vw;
    padding: 1rem;
    @include tablet {
        padding: 0 2.25rem 3rem 2.25rem;
        height: 56vw;
    }

    @include desktop {
        padding: 0 2.25rem 3rem 6rem;
        height: 46vw;
    }

    &__subheading {
        @include font-subheader-regular;
        color: $primary-color-white;
        @include margin-block;
        padding-top: 1.5rem;

        @include tablet {
            @include font-subheader-regular-dt;
            padding-top: 3.5rem;
        }

        @include desktop {
            @include font-subheader-regular-dt;
            margin-left: 2.25rem;
            padding-top: 0;
        }
    }

    &__heading {
        @include font-page-header;
        color: $primary-color-white;
        @include margin-block;
        margin-top: 1rem;
        white-space: pre-line;

        @include tablet {
            @include font-page-header-dt;
            padding-bottom: 2rem;
        }

        @include desktop {
            @include font-page-header-dt;
            margin-left: 2.25rem;
            white-space: normal;
            width:44%;
        }
    }

    &__song {
        margin: 1.15rem 0 1.5rem 0;
        height: 100px;
        @include tablet {
            width: 61%;
            height: 130px;
        }

        @include desktop {
            height: 137px;
            width: 35%;
            margin-left: 6.5rem;
        }
    }
    &__div-desktop{
        @include desktop{
            display: flex;
            flex-direction:row;
            align-items: center;
        } 
    }
}

.shows {
    background-color: $primary-color-white;
    padding: 1.5rem 0 1rem 0;

    @include tablet {
        padding: 3rem 2.25rem 2.25rem 2.25rem;
    }

    @include desktop {
        padding: 3rem 6rem 2.25rem 6rem;
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
    }

    &__heading {
        @include margin-block;
        @include font-section-header;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        color: $primary-color-bandSite-black;


        @include tablet {
            @include font-section-header-dt;
            padding-bottom: 1.25rem;
        }

        @include desktop {
            @include font-section-header-dt;
            padding-bottom: 2.25rem;
            margin-left: 1rem;
        }
    }
    &__date-div, &__venue-div, &__location-div {
        margin-top: 1rem;
        margin-bottom: 1rem;
        @include tablet{
            margin-top: .85rem;
            margin-bottom: .85rem;
        }
        @include desktop{
            margin-top: .85rem;
            margin-bottom: .85rem;
        }
    }
    &__date-div{
        @include desktop{
            margin-right: 9rem;
        }
    }
    &__venue-div{
        @include desktop{
            margin-right: 7rem;
        }
    }
    &__location-div{
        @include desktop{
            margin-right: 3.5rem;
        }
    }
    &__header-date, &__header-venue, &__header-location{
        color: $primary-color-silver;
        @include font-h3-shows-demi;
        @include margin-block;
        @include tablet{
            margin-bottom: 2rem;
        }
        @include desktop{
            margin-bottom: 2rem;
        }
    }
   
    &__date{
        color: $primary-color-bandSite-black;
        @include font-body-date-demi;
        @include margin-block;
        @include tablet{
            margin: .75rem 0;
        }
        
    }
    
    &__venue, &__location{
        color: $primary-color-bandSite-black;
        @include font-body-shows-demi;
        @include margin-block;
        @include tablet{
            margin: .75rem 0;
        }
    }
    
    &__header-date:first-of-type {
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }  

    &__header-venue:first-of-type {
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }

    &__header-location:first-of-type {
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }

    &__button {
        background-color: $primary-color-bandSite-black;
        color: $primary-color-white;
        height: 40px;
        width: 95%;
        border-radius: .25rem;
        text-align: center;
        border: none;
        margin-bottom: 1.5rem;
        @include font-button-shows-label;   

        @include tablet {
            min-width: 150px;
            width: 10.25rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 1.25rem;
            @include font-button-label-shows-dt;
        }

        @include desktop {
            min-width: 150px;
            width: 10.25rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 1.25rem;
            @include font-button-label-shows-dt;
        }

        &:hover {
            background-color: $secondary-color-bandSite-darkBlack;
        }
        
    }

    &__card {
        background-color: $primary-color-white;
        padding-left: 1rem;
        border-bottom: .0625rem solid $secondary-color-mercury;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &:hover {
            @include desktop {
                background-color: $secondary-color-alabaster;
            }
        }
        &:active{
            @include desktop {
                background-color: $secondary-color-mercury;
            }
        }
        &--selected{
            background-color: $secondary-color-mercury;
        }
    }
    &__div{
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }

        @include desktop {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            margin-left: 8rem;
            
        }
    }
    &__div &__card:first-of-type {
        h3:first-of-type{
            display: block;
        }
        &__button{
            height:50%;
        }
    }

}